<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>17 clones</title>
</head>

<body>

	

	<div class="container">
	  <a id="login" href="#">Login</a>
		<div class="users">Your name here :D</div>
		<div class="chat">No one has said anything yet!</div>
		<input id="talk" type="text" />
		<input id="talkbtn" type="button" value="talk"/>

	</div>


	<script type="text/html" id="timeBlock-tmpl">
		<div class="timeBlock" data-date="${date}" data-hour="${hour}" data-min="${minute}">
			<h2>
				<span class="date">${date}</span>
				<span class="day">${day}</span>
				<span class="hour">${hour}</span>
				<span class="minute">${minute}</span>
			</h2>		
		</div>
	</script>
	
	<script type="text/html" id="event-tmpl">
		<div class="event row${rowIndex} {{each tags}}${$value}{{/each}}" data-id="${id}" style="left:${clonez.cssLeft(start)}px;width:${clonez.cssWidth(start,end)}px;">
			${name}
		</div>
	</script>
	<script src="https://browserid.org/include.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	  var username = "";
	$(function() {
		var socket = io.connect();
		socket.on("chatMsg", function(m) {
			$("div.chat").append("<div><b>" + m.nick + ":</b> " + m.msg + "</div>");
		});

	        socket.on("authPassed", function(m) {
	            username = m.username;
	            $(".users").html(username);
	        });

		$("#talkbtn").click(function(e) {
			e.preventDefault();
			var inp = $("#talk"),
	                text = inp.val();
			socket.emit("chatMsg", {'chatMsg': text});
                        $("div.chat").append("<div class='myMsg'><b>" + username + ":</b> " + text + "</div>");
			inp.val("");
		});

	        $("#login").click(function(e) {
	            navigator.id.getVerifiedEmail(function(assertion) {
                        if (assertion) {
	                    var nick = prompt("Pick a nickname:");
	                    if (nick)
	                        socket.emit("browserid", {'username': nick, 'assertion': assertion});
	                } else {
	                    //some failed msg here...
	                }
        	    });
                });

	        socket.on('connect', function(){});
	        socket.on('disconnect', function(){});
	        socket.on('reconnect', function(){});
	        socket.on('reconnecting', function( nextRetry ){ 
	            //console.log('Attempting to re-connect to the server, next attempt in ' + nextRetry + 'ms'); 
	        });
	        socket.on('reconnect_failed', function(){ 
	            //console.log('Reconnected to server FAILED.'); 
	        });

	});
	</script>

</body>
</html>
